In [1]:
#1. Import Libraries
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import plotly.express as px #plotly express (from plotly interactive graphs)

In [2]:
#2. Read File
booking = pd.read_csv("hotel_bookings.csv")

In [3]:
#3. Display data
booking.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [4]:
#4. Check number of rows and Columns
booking.shape

(119390, 32)

In [5]:
#5. See dataframe information
booking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [6]:
#6. Check statistical data of dataframe
booking.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

In [7]:
#7. Get nulls per column
booking.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [8]:
#8. Drop null from column country
booking=booking.dropna(subset = ['country'])

In [9]:
booking.info()

<class 'pandas.core.frame.DataFrame'>
Index: 118902 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           118902 non-null  object
 1   is_canceled                     118902 non-null  int64
 2   lead_time                       118902 non-null  int64
 3   arrival_date_year               118902 non-null  int64
 4   arrival_date_month              118902 non-null  object
 5   arrival_date_week_number        118902 non-null  int64
 6   arrival_date_day_of_month       118902 non-null  int64
 7   stays_in_weekend_nights         118902 non-null  int64
 8   stays_in_week_nights            118902 non-null  int64
 9   adults                          118902 non-null  int64
 10  children                        118898 non-null  float64
 11  babies                          118902 non-null  int64
 12  meal                            118902 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  118902 non-null  object
 15  distribution_channel            118902 non-null  object
 16  is_repeated_guest               118902 non-null  int64
 17  previous_cancellations          118902 non-null  int64
 18  previous_bookings_not_canceled  118902 non-null  int64
 19  reserved_room_type              118902 non-null  object
 20  assigned_room_type              118902 non-null  object
 21  booking_changes                 118902 non-null  int64
 22  deposit_type                    118902 non-null  object
 23  agent                           102896 non-null  float64
 24  company                         6623 non-null    float64
 25  days_in_waiting_list            118902 non-null  int64
 26  customer_type                   118902 non-null  object
 27  adr                             118902 non-null  float64
 28  required_car_parking_spaces     118902 non-null  int64
 29  total_of_special_requests       118902 non-null  int64
 30  reservation_status              118902 non-null  object
 31  reservation_status_date         118902 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.9+ MB

In [10]:
#9. Drop duplicates
booking.drop_duplicates(inplace=True)

In [11]:
booking.shape

(86944, 32)

In [12]:
#10. Reset index
booking.reset_index(inplace=True)
booking=booking.drop(columns = ['index'])

In [13]:
booking

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86939,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
86940,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
86941,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
86942,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
86943,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [14]:
booking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86944 entries, 0 to 86943
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           86944 non-null  object
 1   is_canceled                     86944 non-null  int64
 2   lead_time                       86944 non-null  int64
 3   arrival_date_year               86944 non-null  int64
 4   arrival_date_month              86944 non-null  object
 5   arrival_date_week_number        86944 non-null  int64
 6   arrival_date_day_of_month       86944 non-null  int64
 7   stays_in_weekend_nights         86944 non-null  int64
 8   stays_in_week_nights            86944 non-null  int64
 9   adults                          86944 non-null  int64
 10  children                        86940 non-null  float64
 11  babies                          86944 non-null  int64
 12  meal                            86944 non-null  object
 13  country                         86944 non-null  object
 14  market_segment                  86944 non-null  object
 15  distribution_channel            86944 non-null  object
 16  is_repeated_guest               86944 non-null  int64
 17  previous_cancellations          86944 non-null  int64
 18  previous_bookings_not_canceled  86944 non-null  int64
 19  reserved_room_type              86944 non-null  object
 20  assigned_room_type              86944 non-null  object
 21  booking_changes                 86944 non-null  int64
 22  deposit_type                    86944 non-null  object
 23  agent                           75076 non-null  float64
 24  company                         5092 non-null   float64
 25  days_in_waiting_list            86944 non-null  int64
 26  customer_type                   86944 non-null  object
 27  adr                             86944 non-null  float64
 28  required_car_parking_spaces     86944 non-null  int64
 29  total_of_special_requests       86944 non-null  int64
 30  reservation_status              86944 non-null  object
 31  reservation_status_date         86944 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 21.2+ MB

In [15]:
#11. Correct date type
booking['reservation_status_date'] = pd.to_datetime(booking['reservation_status_date'])

In [16]:
booking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86944 entries, 0 to 86943
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           86944 non-null  object
 1   is_canceled                     86944 non-null  int64
 2   lead_time                       86944 non-null  int64
 3   arrival_date_year               86944 non-null  int64
 4   arrival_date_month              86944 non-null  object
 5   arrival_date_week_number        86944 non-null  int64
 6   arrival_date_day_of_month       86944 non-null  int64
 7   stays_in_weekend_nights         86944 non-null  int64
 8   stays_in_week_nights            86944 non-null  int64
 9   adults                          86944 non-null  int64
 10  children                        86940 non-null  float64
 11  babies                          86944 non-null  int64
 12  meal                            86944 non-null  object
 13  country                         86944 non-null  object
 14  market_segment                  86944 non-null  object
 15  distribution_channel            86944 non-null  object
 16  is_repeated_guest               86944 non-null  int64
 17  previous_cancellations          86944 non-null  int64
 18  previous_bookings_not_canceled  86944 non-null  int64
 19  reserved_room_type              86944 non-null  object
 20  assigned_room_type              86944 non-null  object
 21  booking_changes                 86944 non-null  int64
 22  deposit_type                    86944 non-null  object
 23  agent                           75076 non-null  float64
 24  company                         5092 non-null   float64
 25  days_in_waiting_list            86944 non-null  int64
 26  customer_type                   86944 non-null  object
 27  adr                             86944 non-null  float64
 28  required_car_parking_spaces     86944 non-null  int64
 29  total_of_special_requests       86944 non-null  int64
 30  reservation_status              86944 non-null  object
 31  reservation_status_date         86944 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(16), object(11)
memory usage: 21.2+ MB